<div class="pull-right">
  <button class="btn btn-success add-user" data-user-type="<%= title.downcase.singularize %>"><i class="icon-plus icon-white"></i> Add <%= title.downcase.singularize %></button>
</div>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <% users.each do |user| %>
    <tr class="row-clickable row-user" data-id="<%= user.id %>">
      <td><%= "#{user.first} #{user.last}" %></td>
      <td><%= "#{user.email}" %></td>
    </tr>
  <% end %>
</table>

<div id="new-user-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>